<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<div class="faq">
<h2>FAQ</h2>
<h3>Does evidence from clinical trials suggest that screening and offering mental health services to the patients with positive screens
  who are found to have depression improve their mental health?</h3>
  <p>
<b>NO</b>
<br><br>
 Clinical trials that have been conducted have found that has shown that implementing depression screening has not lead to improved mental health outcomes.
In sum, these trials (references) have reported a total of XX outcomes, and all indicated no benefit. Only one small trial showed mixed results, but that trial.….
</p>
<i class="fas fa-question"></i>
<h3>Is there any harm in screening anyway?</h3>
  <p>
    <b>YES</b>
<br><br>
    During the screening, individuals’ negative expectations of being depressed may cause the screening to have a more negative result. Reinforcing negative thoughts may induce
    potential mental harms to the people who are not depressed. Furthermore, screening will result in a waste of scarce health resources,
    including the time spent by clinicians to screen all patients in their practice and the time spent by mental health professionals giving treatment to people who
    do not need and will not benefit from treatment. Meanwhile, patients who truly have mental health problems may not be able to access the care they need, as appointments in mental
    health clinics will be taken up by the many patients falsely identified as in need of services.</p>
<i class="fas fa-question"></i>
<h3>What should I do about depression in my practice?</h3>
  <p>
To be drafted.</p>
</div>
