<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<div class="faq">
<h2 class="faq_header">Frequently Asked Questions</h2>
<ul>
<li><b class="question">Is depression screening recommended?</b> <b class="answer"> Guideline recommendations differ:</b> <br><br>
<p class="explanations">
The <b>United States Preventive Services Task Force</b> recommends screening for depression. <sup><a class="main_link" [routerLink]="['/']" fragment="references-8">8</a></sup><br><br>
<b>The Canadian Task Force on Preventive Health Care</b> and the <b>United Kingdom National Screening Committee</b> recommend against routine depression screening,<sup><a class="main_link" [routerLink]="['/']" fragment="references-9">9</a></sup><sup>,</sup><sup><a class="main_link" [routerLink]="['/']" fragment="references-10">10</a></sup><br>
based on the lack of evidence of benefit from well-conducted randomised controlled trials, as well as concerns about high false positive rates, overdiagnosis, substantial resource use and adverse impacts on some patients when they are screened and treated without benefit.<sup><a class="main_link" [routerLink]="['/']" fragment="references-9">9</a></sup><sup>,</sup><sup><a class="main_link" [routerLink]="['/']" fragment="references-10">10</a></sup>
</p>
</li>
<br>
<li>
  <b class="question">Are there harms of screening?</b> <b class="answer"> Yes </b> <br><br>
<p class="explanations">
  Patients: Screening would involve costs and adverse effects from antidepressants for some patients, and some may be harmed by being labelled with a mental health disorder, more so if screening does not result in benefit.<br><br>
  Costs and Resources: Screening, follow-up assessments and management would reduce time available for other clinical services and reduce ability to provide mental health services for those known to have depression.
</p>
</li>
</ul>
</div>
