.faq
{
background-color: white;
text-align: left;
font-size: 18px;
padding: 1%;
}

/* p
{
  font-size: 22px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 20px;
}
h3
{
  margin: 2%;
  font-size: 30px;
}
i
{
  font-size: 40px;
  margin-top: 10px;
} */
h2
{
  font-size: 40px;
padding-bottom: 20px;
}
/* b
{
  font-size: 30px;
  text-align: center;
  color: red;
} */
.question
{
  font-size: 20px;
}
.answer
{
  color: red;
  font-size: 20px;
}
.faq_header
{
    padding-left: 40px;

}
.explanations
{
  font-style: italic;
}

a {
  color: inherit;
}
