<div class="footer">
<div class="acknowledgements">


  <h3>Acknowledgements</h3>
<br>
<ul>

<div class="line-wrapper">

<div class="li">
<li><p>The study by Levis et al., BMJ 2019 was funded by the Canadian Institutes of Health Research (KRS-134297; PCG-155468).</p>
</li>
</div>
<img class="logo" src='../../assets/Images/CIHR.png' [style.margin-top]="'-5%'">
</div>
<div class="line-wrapper">
<div class="li">
<li><p>This website was designed by Yuliia Dehtiarova (yulidehtiarova@gmail.com), as part of her internship with the DEPRESSD team in the summer of 2018, which was supported by the MITACS Globalink Program.</p>
</li>
</div>
<img class="logo" src="../../assets/Images/Mitacs.png">
</div>
</ul>
</div>
<span  class="copyright">
    COPYRIGHT ©2018 <a href="https://www.thombsresearchteam.ca/research-topic-2" target="_blank">DEPRESSD</a>, ALL RIGHTS RESERVED
</span>
</div>
