<div class="basic_info">
<hr>
<h2>
Did you know that most patients who screen positive on the PHQ-9 screening tool  are not depressed?
</h2>
<p>In most clinical settings, the majority of patients who screen positive on the PHQ-9
  do not have major depression and would be unlikely to benefit from mental health treatments.</p>
  <img src="../../assets/Images/Employee1.jpg">
<h2>
  Use this tool to see what would happen if you used the PHQ-9 to screen for depression in
  your practice.
</h2>
</div>
