<div class="basic_info">
<h2 class="basic_info_header">Using the PHQ-9 to Screen for Depression:<br>
  <b class="basic_info_subheader">A Practice-Based Perspective</b></h2>
<p class="Levis">Based on Levis et al., BMJ, 2019 <sup><a class="main_link" [routerLink]="['/']" fragment="references-1">1</a></sup></p>
<div class="purpose">
<p class="purpose_header">
  The purpose of this tool is to help you understand what would happen if you were to use the PHQ-9 to screen for depression in your practice:
</p>
  <ul>
    <li>How many of your patients would screen positive versus negative?</li>
    <li>Of those who screen "positive", how many would be correctly identified and how many would be incorrectly identified?</li>
    <li>Of those who screen "negative", how many would be correctly ruled out and how many would be missed depression cases?</li>
  </ul>
  </div>
<p class="requirement"> Answering these questions requires you to estimate the prevalence of <span>undetected and untreated</span> depression in your clinical setting, since screening is done to detect depression that has not already been recognized.</p>
<h2>
  Enter an estimate of the prevalence of undetected major depression in your clinical practice:
</h2>
<p class="comment">A rough estimate is sufficient for using this tool</p>
<div class="tips">
  <h3 class="tips_header">Tips for estimating prevalence in your setting:</h3>
  <br>
  <ol>
    <li> <b>Start</b> with a general  estimate of  major depression prevalence:
<ul>
  <li>Patients in primary care: 5 to 10% <sup><a [routerLink]="['/']" fragment="references-2">2</a></sup><sup>,</sup><sup><a [routerLink]="['/']" fragment="references-3">3</a></sup></li>
  <li>Patients in specialty care settings or those with chronic health conditions: 10 to 20% <sup><a [routerLink]="['/']" fragment="references-4">4</a></sup></li>
<li>Women in pregnancy or postpartum: 5 to 10%<sup><a [routerLink]="['/']" fragment="references-5">5</a></sup><sup>,</sup><sup><a [routerLink]="['/']" fragment="references-6">6</a></sup></li>
</ul>
    </li>
    <br>
    <li><b>Revise</b> the estimate to exclude the proportion already known to have depression
      <ul>
        <li>Approximately 50% of patients with depression in primary care have been identified by health care professionals <sup><a [routerLink]="['/']" fragment="references-7">7</a></sup></li>
      </ul>
      <br>
    </li>
    <li><b>Adjust</b> the estimate if you believe that prevalence is higher or lower in your clinical practice
      <ul>
        <li>E.g. More or less than 50% of cases have already been identified</li>
      </ul>
    </li>
  </ol>
  <br>
</div>
</div>
