<div class="input_parameters">
  <div class="examples-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Examples:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="example">

      <ul>
        <li>For cardiovascular care settings:
    <ul>
      <li>Start with 10 to 20 % (from specialty medicine / chronic disease conditions)</li>
      <li>Decrease by 50% (assume 50% already recognized)</li>
      <li>Enter a value between 5% and 10% (depending on whether prevalence is higher or lower in your practice)</li>
    </ul>
        </li>
<br>
        <li>For primary care:
    <ul>
      <li>Start with 5 to 10 % primary care</li>
      <li>Decrease by 50% (assume 50% already recognized)</li>
      <li>Enter a value between 3 and 5% (depending on whether prevalence is higher or lower in your practice)</li>

    </ul>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
  </div>
<div class="content-wrapper">




<!-- <div class="mytable">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<caption>Изменение добычи ресурсов по годам</caption>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="patient_setting">
    <th mat-header-cell *matHeaderCellDef> Patient group </th>
    <td mat-cell *matCellDef="let element"> {{element.patient_setting}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="prevalence_percent">
    <th mat-header-cell *matHeaderCellDef class="mycell"> Prevalence </th>
    <td mat-cell *matCellDef="let element" class="mycell"> {{element.prevalence_percent}} </td>
  </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<nav>
<!--  <a target="_blank" routerLink="/more-info" routerLinkActive="active">
More info</a>-->
<!-- </nav>
</div> -->
<!-- <mat-form-field> -->
  <!-- <mat-select placeholder="Patient group" [(ngModel)]="prevalenceSelected">
    <mat-option *ngFor="let prevalence of depression" [value]="prevalence.prevalence">
      {{prevalence.setting}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <h3>Option 1: Recommended prevalence in %</h3> -->
  <!-- <mat-form-field class="example-full-width">
    <input class="recommended" matInput placeholder="Recommended prevalence" disabled [(ngModel)]="prevalenceSelected">
  </mat-form-field> -->
  <div class="calculate">
    <br>
  <h3>Please type in the prevalence in %</h3>
  <p class="prevalenceRestrictions">Enter an integer between 1 and 100</p>
  <br>
  <mat-form-field class="example-full-width">
    <input maxlength="3" myNumberOnly name="min" id="myNumber" class="users_prevalence" matInput placeholder="Prevalence" [formControl]="prevalenceSelected2" min="1" max="100" (keyup.enter)="Calc()" autocomplete="off">
  </mat-form-field>
  <div class="button-row">
    <br>
  <button mat-raised-button (click)="Calc()">Calculate</button>
</div>
</div>
</div>
<app-screen-positive Falsepositivepercent="{{falsepositivepercent}}" Falsepositive="{{falsepositive}}" Howmany="{{havedep}}" screenPositive="{{screenpositive}}" haveDepression="{{havedepression}}"></app-screen-positive>
<app-screen-positive-graphic ShowResult="{{prevalence}}" Howmany="{{havedep}}" [falsenegative]="falsenegative"></app-screen-positive-graphic>
<app-screen-negative truenegativepercent="{{truenegativepercent}}" falsenegative="{{falsenegative}}" truenegative="{{truenegative}}" screenNegative="{{screenNegative}}" falsenegativepercent="{{falsenegativepercent}}"></app-screen-negative>
</div>
