.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center !important;
}

.example-full-width,mat-form-field {
  width: 65%;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button_calculate
{
background-color: white;
border-radius: 5px;
border: 2px solid black;
width: 20%;
}
.input_parameters
{
  text-align: center;
  align-content: center;
  align-items: center;
  padding-top:1%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.29) 64%, rgba(255,214,214,0.05) 90%, rgba(255,214,214,0) 95%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(64%, rgba(255,255,255,0.29)), color-stop(90%, rgba(255,214,214,0.05)), color-stop(95%, rgba(255,214,214,0))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.29) 64%, rgba(255,214,214,0.05) 90%, rgba(255,214,214,0) 95%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.29) 64%, rgba(255,214,214,0.05) 90%, rgba(255,214,214,0) 95%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.29) 64%, rgba(255,214,214,0.05) 90%, rgba(255,214,214,0) 95%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0.29) 64%, rgba(255,214,214,0.05) 90%, rgba(255,214,214,0) 95%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFD6D6',GradientType=1 ); /* ie6-9 */
}
button
{
  width: 150px;
}

.recommended, .users_prevalence
{
  color: black;
  font-size: 20px;
}
.manuscript
{
  display: inline-block;
  padding:2%;
  padding-top: 4%;
  font-size: 20px;
}
hr
{
  margin: 0;
  padding: 0;
}
table {
  text-align: left;
  width: 100%;
}
th
{
  font-size: 20px;
}
.mytable
{
width: 30%;
display: inline-block;
text-align: left;

}
.calculate
{
  display: inline-block;
  width: 40%;
position: relative;
bottom: 250px;
left: 40px;
max-width: 100%;
}
a
{
  font-size: 20px;
  text-decoration: underline;
}
.mycell
{
text-align: center;
}
nav
{
  text-align: center;
  padding-top: 5px;
  font-size:40px;
}
.prevalenceRestrictions
{
  color: gray;
  font-size: 19px;
}
h2
{
  padding:20px;
  padding-top:0;
}
